.aboutText{
    padding: 10%;
    
}

@media (orientation: landscape){
    .aboutText{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        padding-top: 12%;
        height: 100%;
    }

    .aboutText p{
        font-size: xx-large;
        font-weight: 300;
    }
}