.postBox{
    display: block;
}

.title{
    text-align: center;
}

.date{
    text-align: center;
}

.cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
}

p{
    font-weight: 300;
    font-size: large;
    padding-left: 16px;
    padding-right: 16px;
}

p img{
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.categoryDiv{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.category{
    color: black;
    text-decoration: none;
}

.category:hover{
    text-decoration: underline;
}

@media (orientation: landscape){
    .postBox{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-top: 12%;
    }
}