.navButtons{
    position: relative;
    width: max-content;
    height: 60%;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/* inaltimea 100% - 20% = 80% => 70% */

.navButtons div{
    position: relative;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.navButtons a{
    position: relative;
    font-weight: 300;
    font-size: 72px;
    color: black;
    display: block;
    text-decoration: none;
}

.navButtons a:hover{
    text-decoration: underline;
}