{% extends "index.html" %}

{% block page_style %}

<title>andr_drgm Blog</title>

{% load static %}

<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="{% static 'style/social.css' %}">
<link rel="stylesheet" href="{% static 'style/title.css' %}">
<link rel="stylesheet" href="{% static 'blog/blog_detail.css' %}">

{% endblock %}

{% block page_content %}

<div class="postBox">

    <h1>{{ post.title }}</h1>
    <h6>{{ post.created_on }}</h6>
    {% for c in post.category %}
    <a href="#">c</a>
    {% endfor %}
    <img src="{{ post.cover.url }}">
    <p>{{ post.body }}</p>

</div>

{% endblock %}